/* ocultar estes campos ao imprimir a página */
@media print {
  #header,
  #navigation,
  #footer {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  * {
    margin: 0;
  }

  #navigation {
    margin: 8px;
  }

  #content-container,
  #footer {
    margin: 18px;
  }

  #header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 24px;
  }

  #navigation {
    background-color: rgba(0, 0, 0, 0.85);
  }

  #navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  #navigation ul li {
    color: rgba(255, 255, 255, 0.8);
    padding: 6px 14px;
    font-size: 19px;
  }

  #navigation ul li a {
    color: white;
    text-decoration: none;
  }

  article img {
    width: 100%;
  }

  #aside {
    display: none;
  }
}
