/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
  margin: 8px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
}

article {
}

h1 {
  font-size: 24px;
}

h2 {
}

img {
  max-width: 100%;
}

main {
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

@media screen and (min-width: 485px) {
  html {
    margin: 12px;
  }

  body {
    background-color: red;
    font-size: 19px;
  }
}
