* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

header {
  height: 70px;
  background-color: rgba(51, 51, 51, 1);
  display: flex;
  color: rgba(255, 255, 255, 0.9);
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
}

header h1 {
  font-size: 24px;
  letter-spacing: 1px;
}

header h3 {
  font-size: 18px;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
